PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://avpaithankar2000_db_user:Aditya8623@ac-b521vmb-shard-00-00.wfs2865.mongodb.net:27017,ac-b521vmb-shard-00-01.wfs2865.mongodb.net:27017,ac-b521vmb-shard-00-02.wfs2865.mongodb.net:27017/aiml_portal?ssl=true&replicaSet=atlas-eovt0a-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=mysupersecretkey123456789
JWT_EXPIRES_IN=1d
CLIENT_URL=https://aiml-frontend.onrender.com

CLOUDINARY_CLOUD_NAME=dulphryqx
CLOUDINARY_API_KEY=741246873337226
CLOUDINARY_API_SECRET=VorhWuAiit-7Pa2A6rkJy4Z8DvE

ADMIN_NAME=Portal Admin
ADMIN_EMAIL=avpaithankar2000@gmail.com
ADMIN_PASSWORD=Aditya@123
